#footer_deal
  a.deal_link(href="" title="mail") 
    i.fa-solid.fa-envelope
  a.deal_link(href="https://wpa.qq.com/msgrd?v=3&uin=2791894159&site=qq&menu=yes&jumpflag=1" title="qq" target="_blank")
    i.fa-brands.fa-qq
  a.deal_link(href="" title="微博" target="_blank")
    i.fa-brands.fa-weibo
  a.deal_link(href="https://github.com/Vacation1988" title="github"  target="_blank")
    i.fa-brands.fa-github
  img.footer_mini_logo.entered.loading(style="border-radius:50%" src='https://pic.imgdb.cn/item/637a390216f2c2beb1d28f8f.jpg' onclick="btf.scrollToDest(0,500)" title="返回顶部")
  a.deal_link(href="" title="dribbble")
    i.fa-brands.fa-dribbble
  a.deal_link(href="" title="facebook" target="_blank")
    i.fa-brands.fa-facebook
  a.deal_link(href="" title="Twitter" target="_blank")
    i.fa-brands.fa-twitter
  a.deal_link(href="" title="Telegram" target="_blank")
    i.fa-brands.fa-telegram
#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${nowYear + ' '} <i id="heartbeat" class="fa fas fa-heartbeat"></i> ${config.author}`
    else
      .copyright!= `&copy;${nowYear + ' '} <i id="heartbeat" class="fa fas fa-heartbeat"></i> ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`
